[2015-10-02 18:27] mauriciojost opened #1 "Name "ioshare" cannot be resolved"
A user reported that "ioshare" cannot be resolved and fixed the issue by using the IP address of the camera.

[2015-10-02 18:27] mauriciojost commented on #1
Now this can be configured through --server-name parameter, for instance running:

[code]

[2015-10-02 18:27] #1 closed

[2015-10-02 18:28] mauriciojost opened #2 "Cannot set parameters"
There are lots of parameters that affect the way the application connects to the camera and what files should be donwloaded. These parameters are currently hardcoded and it would be good to expose them through a configuration file for instance.

[2015-10-02 18:28] mauriciojost commented on #2
New parameters were added in the related commit. They are:
[code]

[2015-10-02 18:28] #2 closed

[2015-10-02 18:29] mauriciojost opened #3 "The documentation is not good enough"
Maybe a simple tutorial could be created using some images to help people get started with the application.

[2015-10-02 18:29] #3 closed

[2015-10-02 18:29] mauriciojost opened #4 "Write tests for Olympus OMD E-M1"
It would be good to find an example of such camera's response and write some tests about it.

[2015-10-02 18:30] mauriciojost opened #5 "Move TODO.md to bitbucket bug tracker"
Create bugs from TODO.md and remove it.

[2015-10-02 18:30] #5 closed

[2015-10-02 18:30] mauriciojost opened #6 "Store debug logs into files by default"
This will help finding issues from other users.

[2015-10-02 18:30] #6 closed

[2015-10-02 18:31] mauriciojost opened #7 "Complete --help parameter descriptions with the parameters default values"
For instance --server-name is set by default to "oishare", but it could also work if using "192.168.0.10".

[2015-10-02 18:31] #7 closed

[2015-10-02 18:31] mauriciojost opened #8 "Implement camera server response dump"
This will make easier the process of supporting new cameras. The idea would be to ask people to provide their --dumps when connecting to unsupported cameras (E-M1 for example), so that I can take a look at this dump and adapt my code, all without having to bother them much.

[2015-10-02 18:31] #8 closed

[2015-10-02 18:32] mauriciojost opened #9 "Change contact e-mail account"

[2015-10-02 18:32] #9 closed

[2015-10-02 18:32] mauriciojost opened #10 "Can't list images when not connecting in "private mode""
The camera server provides a "private mode" mechanism. Apparently, ff not connected in this mode, it seems images are not exposed by the camera server, even if there are some JPG samples.

[2015-10-02 18:32] mauriciojost commented on #10
When changing to "private mode" in the camera all media files (video, RAW, JPG) are accessible via WIFI. It should be explicitly mentioned in the documentation that this mode is mandatory.

[2015-10-02 18:33] mauriciojost commented on #10
This is related to #11, actually the camera server won't expose those files unless there is a "private mode" connection.

[2015-10-02 18:33] mauriciojost commented on #10
This issue won't be fixed. However, documentation will be updated to explicitly mention the need of this special connection mode, and probably some guide on how to turn it on on an E-M10 camera.

[2015-10-02 18:33] mauriciojost commented on #10
Documentation will be updated in #11 .

[2015-10-02 18:33] mauriciojost opened #11 "Describe in the documentation the need of WIFI in "private mode""

[2015-10-02 18:33] mauriciojost opened #12 "Write tests for Olympus OMD E-M10"

[2015-10-02 18:34] mauriciojost opened #13 "Test libraries were embedded in the release"

[2015-10-02 18:34] #13 closed

[2015-10-02 18:35] #10 closed

[2015-10-02 18:35] #11 closed

[2015-10-02 18:35] #12 closed

[2015-12-26 09:24] mauriciojost opened #14 "Ensure zipped executables remain +x"
It was reported by an user that they had to do `chmod +x ./bin/photosync` in order to execute the file.

[2015-12-26 09:43] mauriciojost opened #15 "Write an installer"
From what observed from 3 users who contacted me via mail (Lee, Theo and Amer) they use Linux. It would be good to have `.deb` and `.rpm` native packages for Linux distributions to ease the installation procedure for such OS.

[2015-12-26 09:43] mauriciojost commented on #4
For now I don't have any example for OMD E-M1. If you want to contribute and have this camera supported let me know.

[2016-01-02 20:26] mauriciojost opened #16 "Use a configuration file to load parameters"
It would be good to allow setting application parameters through a configuration file that is modified only once.

[2016-01-03 14:24] mauriciojost opened #17 "Installer fails to write logs"
After installing .deb package, and executing `photosync` there is no log created and there is an exception thrown:

[code]

[2016-01-03 14:59] mauriciojost commented on #16
Now it is possible to provide a configuration file via command line. By default a .conf (inside the .jar) will be loaded unless told otherwise with the flag `-Dconfig.file=/path/to/config`.

[2016-01-03 14:59] #16 closed

[2016-01-03 15:06] mauriciojost commented on #15
Now it is possible to generate `.deb` and `.rpm` Linux packages. Next release will include the usual `.zip` together with `.deb` and `.rpm`.

[2016-01-03 15:06] #15 closed

[2016-01-03 15:06] mauriciojost commented on #17
Fixed.

[2016-01-03 15:06] #17 closed

[2016-01-03 16:18] mauriciojost commented on #14
Cannot reproduce the issue, the photosync file seems to be already executable after unzipping the .zip package (using Ubuntu 14.04.3):

[code]

[2016-01-03 16:18] #14 closed

[2016-01-03 20:15] mauriciojost opened #18 "Fix "bad quality" .deb package"
A user tried to install the .deb file and it gave this error:
[code]

[2016-01-05 22:27] mauriciojost commented on #18
Fix present in v0.6.

[2016-01-05 22:27] mauriciojost commented on #18
Waiting for issues to be reported, or closing in 2 weeks.

[2016-01-07 13:52] theovandenberg opened #19 "Findings of a Olympus OM D E M10 mark 2 user"
Although i have no background in programming it is very inspiring to contribute to this project.
It suits my needs to have a wireless transfer from the camera to the desktop computer.
*The first struggle was to understand where the program should been installed and executed from, it was not really mentioned in the manual.
*You need the know some basics about making files executable and navigation

[2016-01-08 19:53] mauriciojost opened #20 "Implement a UI"

[2016-01-08 19:55] mauriciojost commented on #19
Hello Theo, thanks for this feedback. I am not trying to help only Linux experienced users but everyone in general, so your feedback is indeed more than welcome.
Regarding the installation location, I updated README.md (the main documentation) with some examples (like where it could be installed) and instructions to follow to configure and launch the program. I consider it should be now easier to

[2016-01-08 19:55] #19 closed

[2016-02-04 21:55] #18 closed

[2016-05-01 09:38] mauriciojost commented on #4
The user `Jean-Pierre` has confirmed the app works out of the box with the OMD E-M1. Marking this issue as done.

[2016-05-01 09:38] #4 closed

[2017-03-16 07:23] nick51 opened #22 "Cannot change configuration parameters"
To list the config parameters, instructions state that command 'photosync --help' should be executed. But that command produces an error message.
See screenshot:
![photosync screenshot - 2017_02_21 18_55_57_ver001](https://cloud.githubusercontent.com/assets/25934263/23985733/535c43a0-0a29-11e7-85df-07510b38b7c0.png)

Also, the instructions mention a configuration file named 'application.conf'. On

[2017-03-16 07:59] nick51 opened #23 "Specify which files to download"
Please consider, for a future release, the ability to specify which files to download. At present, the entire folder is downloaded every time. It would be useful to be able to specify, for instance, a date range. To keep it simple, maybe this could be implemented by allowing the user to edit a parameter in the config file.

[2017-03-16 08:10] mauriciojost commented on #22
I've managed to reproduce the issue. Thanks for reporting it! It definitely impacts all Windows users.
The problem comes from `sbt-native-packager` dependency. It is probably related to https://github.com/sbt/sbt-native-packager/issues/155 which has been fixed some time ago.

I have upgraded the libraries and the issue seems gone.

@nick51 I've generated a release `v0.7-SNAPSHOT` downloadable as t

[2017-03-16 08:12] mauriciojost opened #24 "Add progress bar"
As a user I would be able to see the progress of the files being copied to my PC, so that I know if a coffee is possible in the meanwhile or not.

[2017-03-16 15:01] nick51 commented on #22
Hi Mauricio

Downloaded and tested v0.7 (redirected output of 'photosync --help' to text
file to verify output). Success.
Also confirmed that photosync.bat still works. I stopped execution after
three files, but these three files are written to 'output' folder as
expected.

Thanks.
Nick

On 16 March 2017 at 10:10, Mauricio Jost <notifications@github.com> wrote:

--
Nick Corbin
+27828546533

[2017-03-16 15:03] nick51 commented on #24
Indeed, but if photosync is executed repeatedly without deleting files from
memory card after each download, multiple duplicate copies will be stored
on PC.

On 16 March 2017 at 10:12, Mauricio Jost <notifications@github.com> wrote:

--
Nick Corbin
+27828546533

[2017-03-16 15:14] nick51 commented on #22
Also tested by changing name of output directory with command 'photosync --output-directory output-test-dir'. Success.

[2017-03-16 15:14] #22 closed

[2017-03-17 07:59] mauriciojost commented on #22
Version v0.7 (including this fix) is available for download.

[2017-04-21 17:39] mauriciojost commented on #24
https://github.com/mauriciojost/olympus-photosync/commit/1ee0945b5e480c1c41bd5e6b626b6aefc2cdcb5f

[2017-09-01 20:25] mariuszlabedzki opened #25 "Auto-shutdown"
Do you know it is possible to shut down camera via some request over wifi ? Will be sweet if came will shut down when downloading will be completed.

[2017-09-15 20:59] mauriciojost commented on #24
@nick51 if the files are kept in the destination folder, `photosync` will not synchronize them.

[2017-09-15 21:01] mauriciojost commented on #24
This has been implemented and will be included in the coming release.

[2017-09-15 21:01] mauriciojost commented on #23
Will see what can be done.

[2017-09-15 21:03] mauriciojost commented on #25
Hi @mariuszlabedzki , thanks for the suggestion. This would be an interesting feature, but requires too much development, not suitable for a best-effort mode project. Won't the camera go to sleep after some time? Isn't this time configurable?

[2017-09-15 21:05] mariuszlabedzki commented on #25
I cannot see such options - I have canon 600 and in this camera I can configure sleep time, but in olympus tg-4 I dont see any similar feature.

[2017-09-16 14:20] nick51 commented on #24
Thanks! I'll have a look at latest release.

Regards
Nick Corbin
082 854-6533

On 15 Sep 2017 23:01, "Mauricio Jost" <notifications@github.com> wrote:

[2017-09-17 10:18] mauriciojost opened #26 "Detect automatically all subfolders from camera (like 100OLYMP, 101OLYMP, ...)"
Currently there is the setting `server.folder.name` that allows to specify the subfolder to synchronize (for instance `100OLYMP`, but there is no way to list the subfolders.

[2017-09-18 09:34] nick51 commented on #26
Hi. As a 'newbie', I would appreciate your assistance. My problem is as
follows:

I am unable to modify any of the configuration settings, as there is no
file named 'photosync_config.txt' on my machine. Can you tell me what I am
doing wrong?

My investigations up to this point consist of the following:

1. As I understand it, the configuration settings are specified in a file
'photosync_config.txt

[2017-09-18 10:48] mauriciojost commented on #26
Hi Nick!

What version of photosynthesis are you running?

Mauricio

On Sep 18, 2017 11:34 AM, "nick51" <notifications@github.com> wrote:

Hi. As a 'newbie', I would appreciate your assistance. My problem is as
follows:

I am unable to modify any of the configuration settings, as there is no
file named 'photosync_config.txt' on my machine. Can you tell me what I am
doing wrong?

My investigations

[2017-09-18 10:51] nick51 commented on #26
Hi Mauricio

I am currently using 0.7, and before that I tried 0.6

Regards

Regards
Nick Corbin
+27828546533

On 18 September 2017 at 12:48, Mauricio Jost <notifications@github.com>
wrote:

[2017-09-20 07:22] #24 closed

[2017-09-20 07:23] mauriciojost commented on #26
Could you please create a new issue with such descriptions?

[2017-09-22 07:11] mauriciojost commented on #26
This issue is implemented and will be included in the next release.

[2017-09-22 07:12] #26 closed

[2017-09-22 07:13] mauriciojost commented on #23
This is being implemented. Will be included in the next release. Filtering can be done based on the creation date of the media file.

[2017-09-22 07:14] mauriciojost commented on #25
Given the interface `photosync` uses to connect to the camera I find this feature difficult to implement. I will leave it open just in case someone has the motivation :)

[2017-09-22 07:34] olind opened #27 "Installation via Homebrew"
Hi!
Love the project! Thanks :)

It would be really good if it was possible to install it via Homebrev on OSX https://brew.sh/ It would make updates easier.

[2017-09-22 09:56] nick51 opened #28 "cannot change configuration settings - no config file"
Hi. As a 'newbie', I would appreciate your assistance. My problem is as
follows:

I am unable to modify any of the configuration settings, as there is no
file named 'photosync_config.txt' on my machine. Can you tell me what I am
doing wrong?

My investigations up to this point consist of the following:

1. As I understand it, the configuration settings are specified in a file
'photosync_config.txt

[2017-09-23 10:46] mauriciojost commented on #28
Could you try with the latest version? If it does not work please post the
logs too.

On Sep 22, 2017 11:56, "nick51" <notifications@github.com> wrote:

[2017-09-23 14:33] nick51 commented on #28
Hi Mauricio

Downloaded photosync-0.7.zip again.
Connected camera to laptop via WFi
Unzipped photosync, then ran photosync.bat
Photosync starts downloading pics.
Cancelled run after several downloads, as camera folder contains many pics.
Searched laptop for config file; not found.

I attach logs as requested. I also attach a couple of screenshots taken
during this testing, in case they contain any

[2017-09-23 15:12] mauriciojost commented on #28
The config file is not provided in the `.zip` package, but you can create one as this one:

https://raw.githubusercontent.com/mauriciojost/olympus-photosync/master/src/main/resources/application.conf

Then you can use it as follows:

[code]
(it should work on Windows too).

Keep me posted.

[2017-09-23 15:22] mauriciojost commented on #23
Example:
[code]
or
[code]
where it contains:
[code]

[2017-09-23 15:30] mauriciojost commented on #23
If after ~10 downloads no issue is reported about this feature, I will close the issue.
Happy filtering everyone! :)

[2017-09-23 17:04] mauriciojost commented on #23
@nick51 let me know if this is what you were looking.

[2017-09-23 17:08] mauriciojost commented on #27
Hi Ola!
I can take a look. Do you have any experience in making a project Homebrew compatible?
Best,
Mauricio

[2017-09-23 18:22] olind commented on #27
Hi!
Thanks

Sorry, I'm only using them :(

[2017-09-25 18:27] nick51 commented on #23
Hi Mauricio

Thank you for the additional assistance. I tested as follows:

1. Created a conf file as per example
2. Created a new 'top level' batch file to execute the existing
photosync.bat with the new conf file as a parameter parameter
3. Executed the new batch file
4. Program terminated too quickly to see output
5. Inserted a pause statement in photosync.bat to trap any error messages
6. Erro

[2017-09-25 19:09] mauriciojost commented on #23
This is not the right post for such discussion.
Use this post please: https://github.com/mauriciojost/olympus-photosync/issues/28

[2017-09-25 19:10] mauriciojost commented on #28
From @nick51 :

Hi Mauricio

Thank you for the additional assistance. I tested as follows:

1. Created a conf file as per example
2. Created a new 'top level' batch file to execute the existing
photosync.bat with the new conf file as a parameter parameter
3. Executed the new batch file
4. Program terminated too quickly to see output
5. Inserted a pause statement in photosync.bat to trap any error

[2017-09-25 19:12] mauriciojost commented on #28
@nick51 , first check that `application.conf` has the parameter `server.folder` and if so, pass its absolute path instead of its relative path.

[2017-09-26 06:37] nick51 commented on #28
Hi

I copied the file identified by this link:
https://raw.githubusercontent.com/mauriciojost/olympus-photosync/master/src/main/resources/application.conf
.
That file does not contain a parameter server.folder.

If I add that parameter, should its value be the absolute path of the
folder where 'photosync.bat' is located? In my case, that would be
C:\Users\nick\Desktop\Program Docs\Photosync\Setup\

[2017-09-26 06:51] mauriciojost commented on #28
Hi Nick,
I see what is happening. The file you're copying corresponds to version 0.8 of photosync. However, you are loading it with photosync 0.7. Basically in version 0.8 there is no `server.folder` parameter, but there is in 0.7. That's why you're currently being requested to provide such parameter.

My suggestion: use 0.8 with the configuration file you've shown to me. Also, to make sure your c

[2017-09-26 06:52] mauriciojost commented on #28
@nick51 also remember that each of the configuration parameters can be passed via command line, execute:
[code]
for more information. What is the parameter you're trying to modify?

[2017-09-26 08:50] nick51 commented on #28
Hi Mauricio

Success!

As a matter of interest, I noticed that v0.7 creates its own 'output'
folder; using v0.8 I had to specify the output directory as
output.directory="c:\\ps" in the conf file.

Your assistance with this issue has also solved my problem with issue #23
(specify which files to download), as my problems started when I wanted to
be able to specify the date range. Using your solutio

[2017-09-26 17:47] mauriciojost commented on #28
:) enjoy!

On Sep 26, 2017 10:50, "nick51" <notifications@github.com> wrote:

[2017-09-26 20:54] #28 closed

[2017-09-27 06:42] mauriciojost commented on #23
One user (nick51) reported this feature worked for him. Waiting for the 10th download before closing this issue.

[2017-10-01 14:50] mauriciojost opened #29 "The app closes unexpectedly on Windows without error message"
[code]

[2017-10-01 14:52] mauriciojost commented on #29
This problem occurs because the `output` directory is not created.
A proper log error should be displayed, or better the `output` directory should be created.

[2017-10-01 17:02] nick51 commented on #29
I reported a similar finding related to #28:

"As a matter of interest, I noticed that v0.7 creates its own 'output'
folder; using v0.8 I had to specify the output directory as
output.directory="c:\\ps"
in the conf file."

Regards

Regards
Nick Corbin
+27828546533

On 1 October 2017 at 16:52, Mauricio Jost <notifications@github.com> wrote:

[2017-10-01 18:35] mauriciojost commented on #29
I am creating a new release for this annoying issue :)

On Oct 1, 2017 7:02 PM, "nick51" <notifications@github.com> wrote:

[2017-10-01 19:06] nick51 commented on #29
:)

Regards
Nick Corbin
+27828546533

On 1 October 2017 at 20:35, Mauricio Jost <notifications@github.com> wrote:

[2017-10-01 21:02] mauriciojost commented on #23
@nick51 could you confirm this feature works in the v0.10?

[2017-10-01 21:02] mauriciojost commented on #29
New release `v0.10` available. Test it and let me know please.

Mauricio

[2017-10-02 07:12] nick51 commented on #23
On link https://bitbucket.org/mauriciojost/olympus-photosync/downloads/,
there is no v10

Regards
Nick Corbin
+27828546533

On 1 October 2017 at 23:02, Mauricio Jost <notifications@github.com> wrote:

[2017-10-02 09:17] nick51 commented on #23
v0.10

Regards
Nick Corbin
+27828546533

On 2 October 2017 at 09:12, nick corbin <corbin.nj@gmail.com> wrote:

[2017-10-02 15:43] mauriciojost commented on #29
Fixed. Verified by Borislav.

[2017-10-02 15:43] #29 closed

[2017-10-02 15:48] mauriciojost commented on #23
@nick51 sorry, I meant v0.9 :)

[2017-10-02 16:39] nick51 commented on #23
Tested v0.9 on Windows 7 Home Premium SP1; see attachment for contents of
batch file and conf file.
Results as follows:

1. Creates folder named 'output' as with v0.7
2. Downloads files to 'output'
3. Skips any files if they already exist in 'output'

Conclusion:Test successful

Thanks :)

Regards
Nick Corbin
+27828546533

On 2 October 2017 at 17:48, Mauricio Jost <notifications@github.com> wrote:

[2017-10-02 16:57] mauriciojost commented on #23
@nick51 thanks a lot!!

Closing this issue.

[2017-10-02 16:57] #23 closed

[2017-10-02 17:04] mrglutton opened #30 "Add multi-threaded download to increase speed"
Could you add parallel image download so the transfer speed would be increased?

The current transfer speed on both G and N WiFi standards on OM-D E-M1 camera are limited to some 750 KiB/s, which is about 6 Mbit/s. On B standard it is about 100 KiB/s slower. The transfer graphs look capped, like the transfer is soft-limited; if the total transfer would be 5-8 concurrent files, and if the speed cap

[2017-10-02 19:59] mauriciojost commented on #30
The camera behaves as mono-threaded when replying to HTTP requests (multiple parallel requests lock themselves). Have you tried downloading many files in parallel? Did you then observe faster downloads overall?
Implementing it is almost trivial, but would avoid making changes for no gain. I am charging my battery to test on my side.
@mrglutton could you test on your EM1 (I own an EM10) too? Launch

[2017-10-02 20:09] mauriciojost commented on #30
Unfortunately for EM10 tests on mono-threaded download or multi-threaded downloads reach a maximum of 750KB. @mrglutton what about your EM1?

[2017-10-02 20:20] mrglutton commented on #30
Tested it. Unfortunately, it seems there is really a cap on speed. 750 KiB/s, and no concurrent downloads. I tested this with multiple instances, but the camera serves stuff sequentially, one by one image. So... Tough luck. Maybe we could write to Olympus asking to implement this? :-) I know they would probably say no, but it would be such a phenomenal feature.

I really dislike taking the card ou

[2017-11-16 09:02] hercule115 opened #31 "Java error on Mac OS High Sierra"
Hi,

First, let me congratulate for your efforts about photo sync.
I just install it on my MacBook Air running the **latest High Sierra**.

I started photo sync from the terminal after connected my Mac to the camera with wifi.
From the log output, I can read that Photosync has successfully retrieved the pictures list from the camera. So far so good.

Now when Photosync tries to download the first

[2017-11-16 18:40] mauriciojost commented on #31
Could you please upgrade Java an try again? Use Java 7 or Java 8 at least.

[2017-11-23 13:20] hercule115 commented on #31
Hi,
I just upgraded to Java 9 and I confirms it works great on High Sierra!
Thanks a lot. Very useful.

Question: Is there any on-going activities for a GUI?
If not, I will start one .

regards
Didier

[2017-11-23 17:48] mauriciojost commented on #31
Glad to hear it worked with a newer version of Java.
Closing this issue.
With regards to the UI (great @hercule115 !) , I propose you to continue the discussion here: https://github.com/mauriciojost/olympus-photosync/issues/20

[2017-11-23 17:48] #31 closed

[2017-11-23 17:49] mauriciojost commented on #20
@hercule115 if you feel motivated to implement the GUI, I would surely help you. Are you familiar with Scala?

[2017-11-24 08:22] hercule115 commented on #20
Unfortunately I am not familiar with Scala. I don't even know if Scala offers GUI support...
I have developed a bunch of applications with GUI using python/wxPython.
First, I will read your code and think about what could be missing in Photosync to implement a nice GUI tool.
I will come back to you of course.
Didier

[2017-11-24 23:35] mauriciojost commented on #20
@hercule115 cool! Let me know if I can ease your work somehow (like formatting in a particular way the logs for instance).

[2017-11-26 20:26] gvalkov commented on #20
Hi @hercule115 - If you're interested in a similar tool that's written in Python, have a look at [this project](https://github.com/gvalkov/olympus-photosync). In addition to the cli, it has a very basic cross-platform GUI made with tkinter.

[2017-11-29 18:43] hercule115 commented on #20
Hi, good to know that something already exist in python. I will have a look
at it and tell you.
Unfortunately, not a lot of time available before xmas 😢
Stay tuned

/D
On Nov 26, 2017 9:26 PM, "Georgi Valkov" <notifications@github.com> wrote:

[2017-12-14 20:05] dmpop opened #32 "Seems to work fine with Olympus PEN Lite E-PL7"
I thought I'd let you know that the tool seems to work fine with Olympus PEN Lite E-PL7.

[2017-12-16 12:45] mauriciojost commented on #32
Thanks a lot for letting me know!
I will update the README to let other people know.

Mauricio :)

[2017-12-16 12:53] mauriciojost commented on #32
README updated.

[2017-12-16 12:53] #32 closed

[2017-12-18 20:34] XioNoX opened #33 "Specify which files to download based on filename pattern"
I upgraded photosync from 0.6 to 0.9 and the regex I've been using to only copy ORF files is not working anymore.

I tried to update it using the new default one without success.

What I used to use was:
`photosync -r ".*=.*,(\\w+\\.ORF),(\\d+),.*" -o .`

And some examples of what I tried:
[code]

Also maybe adding a command line parameter to only copy RAW files could
be useful, or some regex exam

[2017-12-25 17:46] mauriciojost commented on #33
Hi @XioNoX ,

Thanks for opening this issue! And merry Xmas! :)

I believe your comment is worth the effort, so I am adding right now a new feature to photosync based on your request.
The new feature will be based in glob's and not in regexs. Why? I don't expect photosync users to be familiar with regex's. The feature will allow to specify a set of globs to specify which files are to be synchroniz

[2017-12-25 20:49] mauriciojost commented on #33
Hi @XioNoX,

This feature has been implemented. It's available in v0.10, could you please give it a try and let me know if you find any issue?

Mauricio

[2017-12-26 02:15] mauriciojost commented on #20
Please give this beta version a try please:

https://bitbucket.org/mauriciojost/olympus-photosync/downloads/photosync-0.10.BETA.GUI.zip

Execute it with the flag: --gui

Also ensure you have java 1.8.40 at least.

It's the very first version (will be marked as beta). I hope it will help get started on the features request :)

Mauricio

[2017-12-26 10:27] hercule115 commented on #20
Hi,
I gave it a try.
It runs on High Sierra, with JRE 9.0.1

[2017-12-26 10:31] hercule115 commented on #20
Some ideas:

- Implement a panel containing the thumbnails of the available pictures
- Implement a contextual menu for each thumbnail : download/delete/info/...
- Some buttons to select/un-select all the thumbnails and download them with globs for selection,
....

[2017-12-26 10:41] mauriciojost commented on #20
@hercule115 Nice to hear it worked on MacOS!

Given this, I have created a release 0.11 which is available for download from now on, this release includes the new GUI feature (reminder: to be enabled with --gui flag). Keep in mind it's still in beta. Code coverage is not awesome for instance.

About your above ideas: would you mind creating small issues for each of them? This will let me assign pr

[2017-12-26 10:41] #20 closed

[2017-12-27 22:27] XioNoX commented on #33
I (very) briefly tested v0.11 and it does the job, thanks.
`photosync -o . -P *.ORF`
Only transfered *.ORF files.

[2017-12-27 22:27] #33 closed

[2018-01-12 21:58] mauriciojost opened #34 "Start GUI in Windows is not trivial"

[2018-01-12 21:59] mauriciojost commented on #34
Since v0.12 GUI is provided in BETA.
However using it in Windows (where most of people use no command line) is not trivial.

[2018-01-12 22:01] mauriciojost commented on #34
Found a simple way. Modify `photosync.bat` so that the line

[code]
looks as follows
[code]
Then launch `photosync.bat`, GUI should launch by default.

[2018-01-13 02:27] mauriciojost opened #35 "Improve GUI with thumbnails"
As @hercule115 requested:

1. Implement a panel containing the thumbnails of the available pictures
2. Implement a contextual menu for each thumbnail : download/delete/info/...
3. Some buttons to select/un-select all the thumbnails and download them with globs for selection

My thoughts:

1 -> Is to be implemented, will definitely add value to the app.
2 -> Will not be done (at least not in the sh

[2018-01-17 21:52] mauriciojost opened #36 "Command flag to create configuration file"
As a user, I would like to have a flag like
[code]
to dump in disk a template of the config file, together with the command that should be used to execute photosync with such configuration file:
[code]

[2018-01-20 01:29] mauriciojost commented on #36
Flag `--init-config` or `-I` added for such purpose.

[2018-01-20 01:29] mauriciojost commented on #36
[code]

[2018-01-20 01:29] #36 closed

[2018-01-21 20:13] friism commented on #30
Can this be closed? As @mauriciojost pointed out, with the anemic camera I/O performance, it doesn't make a whole lot of sense...

[2018-01-21 21:34] mauriciojost commented on #30
@friism agree, closing until we have arguments to believe this is actually possible.

[2018-01-21 21:34] #30 closed

[2018-01-21 22:26] #25 closed

[2018-01-21 22:31] mauriciojost opened #38 "Implement flag to sync media created in the last N days"
As a user I'd like to be able to sync all media created in the last N days.

[2018-01-25 22:21] mauriciojost commented on #35
@hercule115 this has been implemented!
Will be available in the next release (v0.13).

[2018-01-25 22:21] #35 closed

[2018-01-28 14:05] mauriciojost opened #41 "In README point directly to latest version for a given OS"

[2018-01-28 14:08] mauriciojost opened #42 "Place the GUI section of README.md correctly"
Should not be at the beginning. It confused some people.

[2018-01-28 14:10] mauriciojost opened #43 "README.md points to unexistent binaries `photosync`"
It should point to `olympus-photosync`.
In each section where the executable is required, all OSs should be considered.

[2018-01-28 14:12] mauriciojost opened #44 "Add all steps of WIFI setup for camera"
Today some steps are missing (for instance the ones before the Private Mode setup).
Use as example EM10 screens.
It will be a good opportunity to improve the quality of the manual images which are kind of poor.

[2018-01-28 14:13] mauriciojost opened #45 "In README.md make oishare links open in a new browser instance"
This is to improve the way people go through the manual.

[2018-01-28 14:14] mauriciojost opened #46 "In Windows, launch GUI by default"
Detect OS and launch GUI by default in Windows

[2018-01-28 14:15] mauriciojost opened #47 "Improve README regarding section "Now you can start the app""
The `start the app photosync` part is not clear at all. Provide examples for each OS better.

[2018-01-28 14:16] mauriciojost opened #48 "From README.md better explain what the black screen is"

[2018-01-28 14:18] mauriciojost opened #49 "App checks if the camera is correctly connected"
Check if camera is responding, and check connection mode.

[2018-01-28 14:18] mauriciojost opened #50 "At the end of the sync clearly express where the photos are"
Today it's not clear where the photos will land.

[2018-01-28 14:19] mauriciojost opened #51 "Make files pattern case insensitive and report it in the documentation"

[2018-01-28 16:34] #48 closed

[2018-01-28 16:34] #47 closed

[2018-01-28 16:34] #44 closed

[2018-01-28 16:34] #43 closed

[2018-01-28 16:34] #42 closed

[2018-01-28 16:35] #41 closed

[2018-01-28 16:46] mauriciojost commented on #45
Did not manage to make Github README.md work the way I want. Won't spend much more time on it as it's a minor issue. Won't fix.

[2018-01-28 16:46] #45 closed

[2018-01-28 17:13] mauriciojost commented on #46
Implemented

[2018-01-28 17:13] #46 closed

[2018-01-28 17:22] mauriciojost commented on #51
Implemented.

[2018-01-28 17:22] #51 closed

[2018-01-28 17:39] mauriciojost commented on #50
This is already done in command line mode. Each log line shows it.

[2018-01-28 17:41] mauriciojost commented on #50
Implemented.

[2018-01-28 17:41] #50 closed

[2018-02-05 05:20] hercule115 opened #52 "Enhancement requests in GUI mode..."
Hi
I tried 0.14 2 on my Macbook air running high Sierra . I used the GUI mode.

It runs well. Very good job . Thank you.

Some enhancements requests:

- The WIFI connection should be checked from the GUI to connect to the camera after having started the application on the PC.
- The engine should exit when using the Quit button from the GUI.
- The thumbnail should not display the text info of the p

[2018-02-06 18:36] mauriciojost opened #53 "Multiple/non contiguous selection for GUI"
Requested by
@hercule115
at
https://github.com/mauriciojost/olympus-photosync/issues/52

[2018-02-06 18:38] mauriciojost commented on #52
Hi @hercule115

Thanks for the compliments :)

My thoughts on your suggestions:
1. I agree, this WIFI connection status should be added to the GUI. It will be addressed in this issue.

2. Could you elaborate more? It looks like a bug. If so, could you please report it in a different issue with more details (and preferably showing the logs too) so I treat it with a different priority? Will not be a

[2018-03-07 22:03] gilbert-leray opened #55 "Problem with the customisation of output directory in Windows (via _APP_ARGS)"
Hi,

Thank for your software, very helpfull. I use it under Windows 8.1
However, I experienced an issue with the customisation.

When I replace

[code]
with
[code]

running photosync.bat fails :

[code]

Best regards
Gilbert

[2018-03-08 06:17] mauriciojost commented on #55
I will try to take a look today.

Mauricio

[2018-03-08 14:45] gilbert-leray commented on #55
Thanks, it works fine. But I have a problem to customize the output

I wish to output on a volume that is not the system volume : G:\xxxxx
I got  :

[15:22:19,476 ERROR   Starter$] Application failed
com.typesafe.config.ConfigException$Parse: C:\olympus-photosync-0.14.0\bin\application.conf: 9: Expecting end of input or a comma, g
ot ':' (if you intended ':' to be part of the value for 'output.dir

[2018-03-08 18:50] mauriciojost commented on #55
@gilbert-leray could you share the content of application.conf ? I want to reproduce the issue.

[2018-03-08 22:39] gilbert-leray commented on #55
# General parameters
###################################################################

# Regular expression used to detect files
file.regex="wlan.*=.*,(.*),(\\d+),(\\d+),(\\d+),(\\d+).*"

# Local directory to be used to download files
output.directory=G:\OlympusSync

# Synchronize only files created strictly between the below dates
# output.fromdate=2017-01-01
# output.untildate=2017-01-03

###

[2018-03-10 03:29] mauriciojost commented on #55
@gilbert-leray from

https://stackoverflow.com/questions/28890426/reading-windows-paths-in-properties-file

you can either do:

[code]
or
[code]

Could you try and let me know if that works for you?

Mauricio

[2018-03-10 09:12] gilbert-leray commented on #55
output.directory=G:\\OlympusSync
output.directory=G:/OlympusSync
both fail because of the ":"

It works with :   output.directory="G:/OlympusSync"

Thanks a lot for your help

Gilbert

[2018-03-10 15:06] mauriciojost commented on #55
Good to know!

If you liked the project please star it :) It will motivate me to keep maintaining it.

Best,

Mauricio

[2018-03-10 15:09] mauriciojost commented on #55
I will keep this open until I improve the manual.

Mauricio

[2018-03-10 17:55] mauriciojost commented on #55
Now the app `--init-config` will show:
[code]
and the default configuration file will provide more guidance:
[code]
Hope this will help other users in the future.

Closing this issue.

Mauricio

[2018-03-10 17:55] #55 closed

[2018-03-10 18:06] gilbert-leray commented on #55
@mauriciojost

There is a little thing you can improve too.
When you quit the GUI after a synchro, the dos window stay open, and you have to close it manualy

Regards.

[2018-03-10 18:26] mauriciojost commented on #55
Hi Gilbert!

Thanks for reporting this. I will try to reproduce it in Windows.
Could you please create a new issue with this information so I can treat it
separatly?

Thanks,

Mauricio

On Sat, Mar 10, 2018 at 7:06 PM gilbert-leray <notifications@github.com>
wrote:

[2018-03-10 20:07] gilbert-leray opened #56 "The dos window stay open when you quit the GUI"
When you quit the GUI after a synchro, the dos window stay open, and you have to close it manualy

[2018-03-11 05:42] hercule115 commented on #56
Hi,
Just to mention,
I have the same behavior on my MAC running High Sierra.
/D

Le dim. 11 mars 2018 à 0:07, gilbert-leray <notifications@github.com> a
écrit :

[2018-03-11 12:52] mauriciojost commented on #56
So the issue is confirmed. Thanks both for reporting it.

[2018-03-11 12:52] mauriciojost commented on #56
I will work on it in the coming days.

[2018-03-13 22:16] mauriciojost commented on #56
This issue has been fixed, and will be available in the next release.

[2018-03-13 22:17] #56 closed

[2018-03-17 04:32] mauriciojost commented on #49
Implemented.

[2018-03-17 04:33] mauriciojost commented on #49
Will be available in 0.15.0.

[2018-03-17 04:34] #49 closed

[2018-03-17 04:38] mauriciojost commented on #52
An update on the above comments:
- #49 is fixed
- #56 is fixed
- Show bigger images and smaller comments
- Resizeability.
- #53 to be done.

[2018-03-17 05:17] mauriciojost commented on #38
Won't implement. The unix tool `date` can be used to generate the date together with the `--from 01-09-2017` and `--until 30-09-2017` application flags.

[2018-03-17 05:24] #38 closed

[2018-09-06 09:52] xXorAa opened #57 "Java version check broken with recent openjdk"
./Modules/binaries/olympus-photosync-0.15.0/bin/olympus-photosync

The java installation you have is not up to date
requires at least version 1.6+, you have
version 10.0.2

Please go to http://www.java.com/getjava/ and download
a valid Java Runtime and install before running .

This is with openjdk 10.

Obviously the internal documentation of the script is also wrong as docs say 1.8+ is required.

[2018-09-06 19:58] mauriciojost commented on #57
Will fix. Thanks for the heads up.

On Thu, Sep 6, 2018, 11:52 AM XorA <notifications@github.com> wrote:

[2018-09-21 15:44] cjnaz opened #58 "Preserve file date/time from camera"
1) When I do a Sync, the transferred files receive both a Created and Modified time stamp related to when they were transferred.
2) Also, older files that are still on the camera and in the sync directory have their created and modified timestamps updated/changed by later syncs.

The desired (appropriate) action is to retain the created and modified timestamps that are on the camera.  Is this feas

[2018-09-22 06:40] mauriciojost commented on #58
@cjnaz Normally such information is in Exif format in the content of your file:

https://en.m.wikipedia.org/wiki/Exif

This means you dont need to depend on the file properties to get such information, because it is encoded somewhere into it.

However I remember have seen similar features in tools like `rsync` I think. What is the usecase?

Mauricio

[2018-09-22 06:59] cjnaz commented on #58
One use case is looking for files in a file browser on a computer (not
using exif data).  Another use case is Android's gallery app shows pictures
in order of file modified time, so I can't put pictures on my phone without
having a totally jumbled order.

Thx
Cjn

On Fri, Sep 21, 2018, 11:40 PM Mauricio Jost <notifications@github.com>
wrote:

[2018-09-22 08:38] mauriciojost commented on #58
Fair enough, I will work on it and ship it in the next release.

[2018-09-22 14:05] cjnaz commented on #58
Awesome.  Thank you.

On Sat, Sep 22, 2018, 1:38 AM Mauricio Jost <notifications@github.com>
wrote:

[2018-11-07 21:14] mauriciojost commented on #57
I am upgrading the packaging plugin version, together with Scala. Let's see if only this fixes the issue.

[2019-01-04 06:55] mauriciojost commented on #58
@cjnaz could you please try v0.16.0?
Thanks!

[2019-01-04 06:55] mauriciojost commented on #57
@xXorAa could you please try v0.16.0?
Thanks!

[2019-01-04 16:35] mauriciojost commented on #58
For reference, there is an extra boolean setting:
[code]
It's set to true by default from now on. The modified date will be set to the moment where the picture was taken.

[2019-01-04 19:57] cjnaz commented on #58
Awesome.  I'll give it a shot soon.  Thank you.

[2019-01-09 21:22] cjnaz commented on #58
Hello Mauricio,
I see that the date is preserved, but the times seem incorrect.  I took a picture with time 1/9/2019 13:22:29 on the camera and it synced to Windows as 1/9/2019 7:35:42 AM.  FYI, I'm in timezone UTC-07:00.

The best handling for time would be to understand the camera's UTC time offset (or if the stored pictures datetime is UTC based), and then set the modified time of the synch'd f

[2019-01-09 22:31] cjnaz opened #59 "Config file output.directory format"
Documentation issue...  When on Windows, the application.conf file `output.directory` setting needs to use forward slashes (not backslashes), and must be in quotes if a drive letter is included.

A working example:
[code]
On the Windows command line the --output-directory switch uses backslashes and quotes are not needed.

Also note that the README.md 2.c. Configure section refers to `photosync` r

[2019-01-14 20:54] mauriciojost commented on #58
I did not have time to generate a proper scenario for my tests. Shame on me :triumph: :)
The API is undocumented about the meaning of the "time" field that is provided, so I took a shot at interpreting it as seconds of the day in UTC. This is clearly wrong. I will investigate better an come back to you.

[2019-01-15 01:08] cjnaz commented on #58
Thanks.   Not urgent since at least the date and time order areally
preserved.

On Mon, Jan 14, 2019, 1:54 PM Mauricio Jost <notifications@github.com wrote:

[2019-01-16 07:41] mauriciojost commented on #58
Made the fix, will create another release soon.

[2019-01-16 17:48] mauriciojost commented on #57
Closing.

[2019-01-16 17:48] #57 closed

[2019-01-16 17:56] mauriciojost commented on #59
Fixed.

[2019-01-16 17:56] #59 closed

[2019-01-16 17:59] mauriciojost commented on #58
Generating v0.16.1.

[2019-01-16 18:21] mauriciojost commented on #58
Generated. Please take a look an let me know.
The assumption: the camera must have a time whose implicit timezone matches the one of your computer.
It means: if you have the camera time that assumes you're in Paris, your computer must have the timezone set to "Europe/Paris". This is true for the vast majority of the users I hope :)

[2019-01-17 00:30] cjnaz commented on #58
Works great.  Thank you.

[2019-01-17 11:39] mauriciojost commented on #27
Maybe this can be used?
https://speakerdeck.com/defeated/homebrew-publish-your-first-formula

[2019-08-22 07:21] mauriciojost commented on #52
Resizing figured out.

[2019-08-22 07:22] mauriciojost commented on #52
Show Bigger images and smaller comments => figured out.

[2019-08-22 17:40] mauriciojost commented on #52
Will be available in release `1.0.0`.

[2019-08-22 17:40] #52 closed

[2019-08-23 06:12] mauriciojost commented on #52
@hercule115 feel free to test the new version.

[2020-02-15 18:47] alaincardenas opened #60 "Multiple errors at first run - Java 11 support (javafx)"
Hello Mauricio,

I loved the project from the moment I started searching for an import tool for the Olympus TG series.
I've tried to run the tool from a couple of Windows 10 laptops but I've been unable to get to run.

This are the errors I get when I run some commands:

Running gui-starter I get this:

[code]

Running olympus-photosync I get this:

[code]

I have the JAVA SDK 11.0.6 installed.
Wh

[2020-02-15 18:59] mauriciojost commented on #60
Hi Alain, Thanks for filing the issue. It could be a problem with the packaging. Could you try an older version? Like 0.16.1 for instance. I will investigate when I get some free time.

[2020-02-15 19:15] mauriciojost commented on #60
As per https://stackoverflow.com/questions/52467561/intellij-cant-recognize-javafx-11-with-openjdk-11/52470141#52470141, it seems javafx is no longer part of the jdk since Java 11. I will rename the issue accordingly. Naturally the workaround is to use Java 10.

[2020-02-15 19:24] mauriciojost commented on #60
It seems now these dependencies are needed:
[code]

[2020-02-15 20:11] alaincardenas commented on #60
Thanks a lot for the fast response. I see you started investigating already!

I'll give Java 10 a try.

[2020-02-17 02:56] alaincardenas commented on #60
Hi Mauricio,

Installing Java SDK v10 fixed the errors. I've tested it and it worked like a charm on an old TG-4. You can add it to the list of the supported devices.

One thing I noticed is that the documentation for --from and --to has the date format as 'mm-dd-yyyy' , but I was only able to make it work using 'yyyy-mm-dd'

Thanks again for a great tool!

Regards,
Alain

[2020-06-03 20:57] Giancarmine opened #61 "Linux Mint 19.3 - GUI problem with openjdk11 and openjfx"
Hi Mauricio,

I Thanks for your work, my Olympus OM-D love your application =)

The app work good from command line, but when i try to star the GUI i have this problem:
[code]

I have the openJDK 11.0.7 and the openJFX installed.
[code]

Am I missing somethings?

BR,
-El_Giancar

[2020-06-04 06:08] mauriciojost commented on #61
Looks like a dupe of #60. It is affecting more people now :) As soon as I get some free time I will try to fix it.

[2020-06-15 00:35] #61 closed

[2020-06-17 07:25] CecileRobin opened #75 ""Application failed" using --from and --until options"
Hi,

I am using olympus-photosync on linux (Ubuntu 18.04) using the command line. I have no problem retrieving my pictures using the --output-directory option, but when I specify the "from" and "until" dates, the app crashes with the below message. My camera is Olympus Tough TG-6, and I have set the date on the camera to the same format dd-mm-yyyy (however I did not select the option to include th

[2020-06-17 14:18] mauriciojost commented on #75
Thanks for taking the time to file the issue! Try the format YYYY-MM-DD instead. Its a documentation problem probably.

[2020-06-17 18:43] mauriciojost commented on #75
Documentation fixed.

[2020-06-17 18:44] mauriciojost commented on #75
Please re-open if not the case.

[2020-06-17 18:44] #75 closed

[2020-06-19 07:02] mauriciojost commented on #60
Fixed the dates issue reported in #75 recently

[2020-06-22 07:34] CecileRobin commented on #75
worked thanks!

[2020-08-18 20:42] mauriciojost commented on #60
This should be fixed in 1.1.0. Please take a look and come back to me if any problem.
Thanks for using this app!

[2020-08-18 20:49] mauriciojost commented on #60
https://github.com/mauriciojost/olympus-photosync/releases/tag/v1.1.0

Closing this issue as it is fixed. Again, if any problem please reopen this ticket.

[2020-08-18 20:49] #60 closed

[2021-01-30 20:16] HelgenX opened #109 "OM-D E-M10 II Support?"
I'd love to use your software, but it seems that it isn't compatible with the E-M10 Mark II. I connect to the wifi on either my laptop or desktop of the camera, and unfortunately, everything stops there. I can't go any further, your software; but others software cannot pick up the IP address of the camera.

[2021-01-30 23:21] mauriciojost commented on #109
Hello HelgenX,
Thanks for reaching out!
So you complete totally step 4 and then when executing step 5 the app does not work? Or something else? I would need more details to help you, like until where in the steps in the README you've successfully arrived, and when there is an issue what message/error you see exactly.
Aso I'd appreciate if you tell me which version of the app you are using.
I'd exp

[2021-02-02 08:01] HelgenX commented on #109
Sorry for the late response. I did end up getting it to work in the end. It had nothing to do with your software, just wasn't sure why it wasn't connecting. But your software did work when I got it to connect, thank you!

[2021-02-02 08:01] #109 closed

[2021-02-02 20:54] mauriciojost commented on #109
Glad to hear that. Given the confirmation I will add the camera to the list of supported ones. Thanks!

[2021-02-02 20:56] mauriciojost commented on #109
Also if you liked the project @helhenx please give it a star. Knowing that people took the time to do it sort of motivates me to keep maintaining the project. :blush:

[2021-04-25 15:36] richardfoley opened #128 "GUI doesn't startup, but commandline interface is perfect."
this is a great little commandline application and saves many a headache easily and sweetly synching photos from the TG-6 down to my PC/laptop over the wifi and without requiring a dumb cable - THANK YOU!

There's a minor issue (minor because the cli does perfectly for me) with the GUI, and I'm only posting the error here fyi. Perhaps there's a simple fix?

[code]

[2021-04-26 09:17] mauriciojost commented on #128
Hi Richard, glad tou find the application useful. About the issue, could you share the app version you are using as well as the java version you have installed? I bet the problem relates to those.
Mauricio

[2021-05-02 14:55] richardfoley commented on #128
hi Mauricio,

the app version: `$> olympus-photosync | grep Version
[16:55:04,434 INFO    Starter$] Version: 1.1.0
`

the java version: `$> java --version
openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-post-Debian-1deb10u1)
OpenJDK 64-Bit Server VM (build 11.0.11+9-post-Debian-1deb10u1, mixed mode, sharing)
`

just FYI, as the CLI works fine :)

[2021-05-19 23:31] mauriciojost commented on #128
I reproduced it. I'ts not only your local environment:
[code]
the issue can be reproduced.

[2021-06-28 22:59] mauriciojost opened #155 "Embed JRE in package"
https://www.scala-sbt.org/sbt-native-packager/recipes/embedded-jvm.html

As maintainer of this project I want to minimize outside variables. Time I can allocate to it does not let me keep up with Java upgrades so I will freeze Java 8 (highest coverage) and include it in the JRE.

[2021-06-28 23:09] mauriciojost opened #156 "Embed JRE"
https://www.scala-sbt.org/sbt-native-packager/recipes/embedded-jvm.html

As maintainer of this project I want to minimize outside variables. Time I can allocate to it does not let me keep up with Java upgrades so I will freeze Java 8 (highest coverage) and include it in the JRE.

[2021-06-28 23:09] #156 closed

[2021-12-16 16:52] davidcortesortuno commented on #128
Hi, I have the same issue, the `cli` works nicely but the `gui` does not start. I'm using OpenSuse Tumbleweed, my `java` version is

[code]

Is there a workaround to the problem?

[2021-12-22 07:59] mauriciojost commented on #128
Using a different version of Java, Java 8 for instance.

For the long term, I am planning (as soon as I get some free time) to provide an embedded JRE to fix this annoying issue. The library used for the UI has changed too much in recent versions of Java, and adapting it all is just too much consuming for me. I prefer to be pragmatic and deliver a more environment-resilient package with JRE embedd